.wrapper {
  padding-top: 50px;
}
.form {
  width: 450px;
  margin: 0 auto;
  border: 2px solid #f8901c;
  box-shadow: 5px 3px 10px rgb(0 0 0 / 20%);
  padding: 10px 30px;
  border-radius: 6px;
  user-select: none;
  padding-bottom: 40px;
  border-radius: 50px 0 50px 0;
}
.form .login-title {
  text-align: center;
  margin: 20px 0;
  color: #f8901c;
}
.login-warning {
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 1px solid red;
  margin-bottom: 5px;
}
.form-control {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 12px;
}
.form-control label {
  margin-bottom: 4px;
}
.form-control input {
  border-radius: 3px;
  height: 40px;
  outline: none;
  padding: 0 10px;
  border: 1px solid #f8901c;
  font-weight: 300;
  font-size: 14px;
}
.form-control input::placeholder {
  opacity: 0.8;
  font-size: 13px;
}
.form-control input:focus {
  border: 2px #f8901c solid;
}
.form-control button {
  height: 40px;
  background-color: #f8901c;
  border-radius: 14px;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  line-height: 40px;
}
.form-control button:hover {
  opacity: 0.8;
}
.form-control a:hover {
  opacity: 0.8;
}
.warning-form {
  font-size: 12px;
  font-weight: bold;
  color: red;
  margin-left: 4px;
}
.forgot {
  text-align: center;
}
.forgot a {
  font-size: 12px;
  transition: 0.3s;
}
.forgot a:hover {
  color: #f8901c;
}
.login {
  font-size: 13px;
  margin-top: -7px;
  text-align: center;
}
.login a {
  color: #f8901c;
  transition: 0.3s;
}
.login a:hover {
  opacity: 0.6;
}

.or {
  text-align: center;
  position: relative;
  color: #f8901c;
  margin: 18px 0;
}
.or::before {
  content: "";
  width: 140px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  right: 0;
}
.or::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  left: 0;
}
.social-networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-networks p {
  cursor: pointer;
  background-color: #f8901c;
  width: 45%;
  height: 30px;
  padding-right: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
  box-shadow: 5px 3px 10px rgb(0 0 0 / 20%);
}
.social-networks p:first-child {
  color: white;
  background-color: blue;
}
.social-networks p:last-child {
  color: white;
  background-color: red;
}
.social-networks p span {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.social-networks p:hover {
  opacity: 0.7;
}
.warning-form {
  font-size: 12px;
  font-weight: bold;
  color: red;
  margin-left: 4px;
}
